html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header {
    &-top {
        position: fixed;
        background: #fff;
        width: 100%;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        padding: 8px 16px;
        &__logo {
            font-size: 18px;
            letter-spacing: 3px;
            padding: 8px 16px;
            .logo-item {
                text-decoration: none;
                color: #000;
            }
            &:hover {
                background-color: gray;
            }
        }
        &__contact {
            font-size: 18px;
            letter-spacing: 3px;
            padding: 8px 16px;
            .contact-item {
                text-decoration: none;
                color: #000;
                padding: 8px 16px;
                &:hover {
                    background-color: gray;
                }
            }
        }
    }
    &-banner {
        position: relative;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
        &-img {
            width: 100%;
            height: auto;
        }
        .banner-text {
            position: absolute;
            text-align: center;
            top: 58%;
            left: 50%;
            h1 {
                font-size: 36px;
                letter-spacing: 3px;
                padding: 8px 16px;
                transform: translate(-50%, -50%);
                span:first-child {
                    color: #fff;
                    background-color: #000;
                    opacity: 0.75;
                    padding: 8px 16px;
                    // font-weight: bolder
                }
                span:last-child {
                    color: #f1f1f1;
                    font-weight: 400;
                }
            }
        }
    }
}

.body {
    max-width: 1564px;
    margin-left: auto;
    margin-right: auto;
    .content {
        &__projects {
            &-title {
                padding: 16px 0;
                border-bottom: 1px solid black;
                border-color: #f1f1f1;
                margin: 0 24px;
                h3 {
                    padding: 16px 0;
                    font-size: 25px;
                }
            }
            &-products {
                margin-top: 40px;
                .products-item {
                    padding: 0 8px;
                    .item {
                        position: relative;
                        float: left;
                        padding: 8px 16px;
                        width: 24.99999%;
                        .img-title {
                            position: absolute;
                            top: 0;
                            left: 0;
                            padding: 15px 15px;
                            background-color: #000;
                            color: #fff;
                            transform: translate(16px, 8px);
                            font-size: 18px;
                            letter-spacing: 1px;
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        // &__about {
        //     &-title {
        //         padding: 16px 0;
        //         border-bottom: 1px solid black;
        //         border-color: #f1f1f1;
        //         margin: 0 24px;
        //         h3 {
        //             padding: 16px 0;
        //             font-size: 25px;
        //         }
        //     }
        //     &-text {
        //         padding: 0 25px;
        //         margin-top: 40px;
        //         font-size: 18px;
        //         line-height: 1.5;
        //     }
        //     &-contact {
        //         margin-top: 30px;
        //         padding: 0 8px;
        //         .contact--person {
        //             padding: 8px 16px;
        //             width: 24.99999%;
        //             float: left;
        //             img {
        //                 width: 100%;
        //             }
        //             .person-name {
        //                 font-size: 24px;
        //                 margin-top: 20px;
        //             }
        //             .service-person {
        //                 font-size: 18px;
        //                 margin-top: 20px;
        //                 color: #ccc;
        //                 font-weight: 400;
        //             }
        //             .description-person {
        //                 font-size: 18px;
        //                 margin-top: 20px;
        //                 font-weight: 400;
        //             }
        //             .btnContact {
        //                 margin-top: 20px;
        //                 background-color: #ccc;
        //                 width: 100%;
        //                 font-size: 18px;
        //             }
        //         }
        //     }
        // }
        // &__contact {
        //     &-title {
        //         margin-top: 40px;
        //     }
        // }
    }
}