article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.padding-8-16 {
  padding: 8px 16px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.header-top {
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__logo {
  font-size: 18px;
}

.header-top__logo .logo-item {
  text-decoration: none;
  color: #000;
}

.header-top__logo:hover {
  background-color: #f1f2f3;
}

.header-top__contact {
  font-size: 18px;
  letter-spacing: 3px;
}

.header-top__contact .contact-item {
  text-decoration: none;
  color: #000;
}

.header-top__contact .contact-item:hover {
  background-color: #f1f2f3;
}

.header-banner {
  position: relative;
  max-width: 1564px;
  margin-right: 10px;
  margin-left: 10px;
}

.header-banner-img {
  width: 100%;
  height: auto;
}

.header-banner .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
}

.header-banner .banner-text h1 {
  font-size: 36px;
  letter-spacing: 3px;
  padding: 8px 16px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-banner .banner-text h1 span:first-child {
  color: #fff;
  opacity: 0.75;
}

.header-banner .banner-text h1 span:last-child {
  color: #f1f1f1;
  font-weight: 400;
}

.body {
  max-width: 1564px;
  margin-right: 40px;
  margin-left: 40px;
}

.body .content__projects-title {
  padding: 16px 0;
  border-bottom: 1px solid black;
  border-color: #f1f1f1;
}

.body .content__projects-title h3 {
  padding: 16px 0;
  font-size: 25px;
}

.body .content__projects-products .products-item {
  padding: 0 8px;
}

.body .content__projects-products .products-item .item {
  position: relative;
}

.body .content__projects-products .products-item .item .img-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 15px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}

.body .content__projects-products .products-item .item img {
  width: 100%;
  height: auto;
}

.body .content__about-title {
  padding: 16px 0;
  border-bottom: 1px solid black;
  border-color: #f1f1f1;
}

.body .content__about-title h3 {
  font-size: 25px;
}

.body .content__about-text {
  font-size: 18px;
  line-height: 1.5;
}

.body .content__about-contact .contact--person {
  padding: 0 8px;
}

.body .content__about-contact .contact--person img {
  width: 100%;
  height: auto;
}

.body .content__about-contact .contact--person .person-name {
  font-size: 25px;
}

.body .content__about-contact .contact--person .service-person {
  font-size: 18px;
  color: #ccc;
  font-weight: 400;
}

.body .content__about-contact .contact--person .description-person {
  font-size: 18px;
  font-weight: 400;
}

.body .content__about-contact .contact--person .btnContact {
  background-color: #ccc;
  width: 100%;
  font-size: 18px;
}

.body .content__contact-title {
  padding: 16px 0;
  border-bottom: 1px solid black;
  border-color: #f1f1f1;
}

.body .content__contact-title h3 {
  font-size: 25px;
}

.body .content__contact-detail p {
  margin-top: 20px;
}

.body .content__contact-detail input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
}

.body .content__contact-detail .btnSend {
  margin: 24px 0;
  padding: 8px 25px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0px;
}

.body .content__banner {
  margin-top: 16px;
}

.body .content__banner img {
  width: 100%;
  height: auto;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  padding: 24px;
  line-height: 1.6;
}

@media (min-width: 601px) and (max-width: 991px) {
  .products-item,
  .contact--person {
    width: 49.99999%;
  }
}

@media (max-width: 600.999px) {
  .header-top__contact {
    display: none;
  }
  .banner-text span:last-child {
    display: none;
  }
  .products-item,
  .contact--person {
    width: 99.99999%;
  }
  .item,
  .contact--person {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=index.css.map */